/* - - - - - - - - - - - - - - - - 
CSS for colors only:

* Variables for standard color theme
* Variables for dark theme
* Any CSS neccesary for switch/toogle
- - - - - - - - - - - - - - - - */

:root,
:root.light {
    --bw: black;
    --dark: #62959c;
    --medium-dark: #C19277;
    --lighter: #C2B092;
    --bright: #EAE3C8;
    --wb: white;
  }

:root.darkmode {
    --bw: white;
    --dark: #EAE3C8;
    --medium-dark: #C2B092;
    --lighter: #C19277;
    --bright: #62959c;
    --wb: black;
}

/*

Possible replacements

burlywood

*/