/*Importing colors:*/
@import "colortheme.css";


/* - - - - - - - - - - - - - - - - 

A CSS file for different screen sizes:

* STANDARD, equal or less than 375px (see style.css file).  | Note:
* Orientation landscape.                                    | Note:
* Equal or more than 600px.                                 | Note: Bigger screens. 6 colum, 1 row, grid layout for main? two small sides for photos and two text content in the middle of two each?
* Equal or less than 240px.                                 | Note:
* Equal or less than 120px.                                 | Note:
* Less than 119px = NOT SUPPORTED + ERROR MESSAGE.          | Note:

- - - - - - - - - - - - - - - - */

/* Top - Right - Bottom - Left */

/*
<link rel="stylesheet" media="screen and (min-width: 900px)" href="widescreen.css">
<link rel="stylesheet" media="screen and (max-width: 600px)" href="smallscreen.css">
*/

/* - - - - STANDARD LAYOUT (not specified but layout/style designed for less than 600px - - - - */

.errormessagescreensize, .errormessageshort {
    display:none;

    margin: 0;
    padding: 0;

    background-color: var(--lighter);

    color: var(--bw);

    text-align: center;
}


/* LANDSCAPE */
@media only screen and (orientation: landscape) {

}

/* 600px+ */
@media screen and (min-width: 600px) {
    /* TBD */
}

/* Traditional, new, flip phones and mobile phones (buttons) (ex. Doro 3038 @ 240x160)*/
@media screen and (max-width: 240px) {
        /*TBD*/
}


/* Small mobile phones with buttsons (120x160)*/
@media screen and (max-width: 120px) {
    .divtopmenu {
        position: sticky;
        display: block;
        top: 0;
    
        padding: 0;
    
        /* Temporarily color added to view changes.*/
        background: yellow;
    }

    .atopmenu {
        padding: 0.1rem;
        border: 1px solid var(--wb);
    
        background-color: var(--medium-dark);
    
        color: white;
    
        /*font-family*/
        font-size: 12px;
    
        text-shadow: 2px 2px 2px grey;
        text-transform:uppercase;
        text-decoration: none;
    }

    p, a {
        /*TBD*/
    }
}


/* Less than 120px = NOT SUPPORTED + ERROR MESSAGE */
@media screen and (max-width: 119px) {

    .errormessagescreensize {
        display: block;
        padding: 2px;
    }

    .iferrorscreensize {
        display: none;
    /* Add some kind of script as well?*/
    }
}

@media screen and (max-width: 50px) {

    .errormessagescreensize {
        display:none;
    }

    .errormessageshort {
        display: block;
        padding: 2px;
    }

    .iferrorscreensize {
        display: none;
    /* Add some kind of script as well?*/
    }
}