@import "colortheme.css";


/* - - - - BUTTONS - - - - */
button {
    background-color: var(--lighter);
    border-radius: .5rem;
    border: 1.5px solid var(--wb);
    color: white;
}

#themebutton {
    position: fixed;
    display: block;
    left: .5rem;
    top: .5rem;
    min-height: 1rem;
    min-width: 1rem;
}

#toTop {
    position: fixed;
    display: block;
    bottom: 0.2rem;
    right: 1rem;
}


/* - - - - BODY - - - - */
body {
    margin: 0;
    background-color: var(--lighter);
    font-size: 100%;
}


/* - - - - TOP MENU - - - - */
nav {
    position: sticky;
    display: flex;
    top: 0;
    padding: 1rem;
    background-color: var(--medium-dark);  
}

.ulclasstopmenu {
    margin: 0;
    padding: 0; /*Removes 40px padding left introduced by list.*/
    list-style-type: none;
}

.aclasstopmenu {
    border: 1px solid var(--wb);
    background-color: var(--medium-dark);
    color: white;
    font-family: verdana;
    text-shadow: 2px 2px 2px grey;
    text-transform:uppercase;
    text-decoration: none;
}

.aclasstopmenu {
    font-size: 1.3rem;
}


/* - - - - FONT USAGE - - - - */
p, a, form {
    font-family: 'Raleway';
    font-size: 1rem;
    text-decoration: none;
}


/* - - - - HEADER - - - - */
header {
    margin: .5rem;
    padding:0;
    border: 2px solid var(--wb);
    outline-style: dotted;
    outline-offset: -1px;
    outline-color: var(--wb);
    background-color: var(--medium-dark);
    width: 90vw;
    margin: auto;
    margin-top: 1rem;
}

h1 {
    font-family: 'Cambo';
    font-size: 2rem;
}

@media screen {
    
}

.h1headline {
    color: var(--wb);
    text-align: center;
    text-shadow: 2px 2px 4px grey;
}

img {
    border-radius: .5rem;
}

.divimg {
    text-align: center;
}

.img1 {
    max-width: 90%;
}

.img2 {
    max-height: 60vh;
}


/* - - - - MAIN CONTENT - - - - */
.divclub, .divclassinfo, #dividbooking {
    letter-spacing: 1px;
    background-color: var(--wb);
    text-align: center;
    width: 95vw;
    margin: auto;
    border-radius: .5rem;
}

#dividbooking {
    margin-bottom: 3rem;
    background-color: white;
    background-image: url("pexels-aaron-ulsh-2882660.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: white;
    font-weight: bold;
    outline: .1rem solid white;
    text-shadow: .1rem .1rem .2rem black;
}

form label, form input {
    border-radius: .4rem;
    border: .1rem solid white;
    padding: .2rem;
    margin: auto;
}

form label {
    background-color: var(--dark);
}

form input {
    background-color: white;
}

#formsubmit {
    border-radius: .4rem;
    border: .1rem solid white;
    padding: .4rem;
    margin: auto;
    background-color: var(--dark);

    color: white;
    font-weight: bold;
    text-shadow: .1rem .1rem .2rem black;
}

.divclassinfo {
    margin-bottom: 3rem;
}


/* - - - - FOOTER - - - - */
footer {
    position: fixed;
    display: block;
    bottom: 0;
    width: 100vw;
    padding: .2rem;
    background-color: var(--medium-dark);
    text-align: center;
}

footer ul {
    margin: auto;
    padding: 0; /*Removes left padding introduced by list.*/
    list-style-type: none;
}

footer a {
    color: white;
    letter-spacing: 1px;
    font-family: verdana;
    text-shadow: 2px 2px 2px grey;
    text-decoration: none;
}