/* Top - Right - Bottom - Left */

/* - - - - - - - - - - - - - - - - 
The CSS has been sorted into the following order:
* Colours
* BODY
* Top menu
* Font usage
* Styling seperate elements
- - - - - - - - - - - - - - - - */




/* - - - - COLOURS - - - - */
:root {
    --bw: black;
    --dark: #22577a;
    --medium-dark: darkgrey;
    --lighter: lightgrey;
    --bright: #80ed99;
    --wb: white;
  }

:root.darkMode {
    --bw: white;
    /* TBD */
    --wb: white;
}




/* - - - - BODY - - - - */
body {
    margin: 0;

    background-color: var(--lighter);

    font-size: 100%;
}




/* - - - - TOP MENU - - - - */
.divtopmenu {
    position: sticky;
    display: flex;
    top: 0;

    padding: 1rem;

    /* Temporarily color added to view changes.*/
    background-color: var(--lighter);
    
}

#idtopmenu {
    margin: auto;
    padding: 0; /*Removes 40px padding left introduced by list.*/
    
    /* Temporary color added to view changes.*/
    background-color: var(--medium-dark);
    
    list-style-type: none;
}

.atopmenu {
    padding: 0.4rem;
    border: 1px solid var(--wb);

    background-color: var(--medium-dark);

    color: white;
    letter-spacing: 1px;

    /*font-family*/
    font-size: 20px;

    text-shadow: 2px 2px 2px grey;
    text-transform:uppercase;
    text-decoration: none;
}




/* - - - - FONT USAGE - - - - */
p, a {
    font-family: verdana;
    font-size: 16px;
}

p {
    background-color: var(--wb);
}

/* Smaller citations or referal to resources.*/
.citation {
    /* TBD */
}




/* - - - - STYLING SEPERATE ELEMENTS - - - - */
header {
    margin: 1rem;
    padding:0;

    border: 2px solid var(--wb);
    outline-style: dotted;
    outline-offset: -1px;
    outline-color: var(--wb);

    background-color: var(--medium-dark);
}

.headline {
    color: var(--wb);
    text-align: center;

    text-shadow: 2px 2px 4px grey;    
}