/*Importing colors:*/
@import "colortheme.css";

/* Top - Right - Bottom - Left */

/* - - - - - - - - - - - - - - - - 
The CSS has been sorted into the following order:
* BODY
* Top menu
* Font usage
* Styling seperate elements
- - - - - - - - - - - - - - - - */



/* - - - - BODY - - - - */
body {
    margin: 0;

    background-color: var(--lighter);

    font-size: 100%;
}




/* - - - - TOP MENU - - - - */
.divclasstopmenu {
    position: sticky;
    display: flex;
    top: 0;

    padding: 1rem;

    /* Temporarily color added to view changes.*/
    background-color: var(--medium-dark);
    
}

.ulclasstopmenu {
    margin: auto;
    padding: 0; /*Removes 40px padding left introduced by list.*/
    
    /* Temporary color added to view changes.*/
    background-color: var(--bright);
    
    list-style-type: none;
}

.aclasstopmenu {
    padding: 0.4rem;
    border: 1px solid var(--wb);

    background-color: var(--medium-dark);

    color: white;
    letter-spacing: 1px;

    font-family: verdana;

    text-shadow: 2px 2px 2px grey;
    text-transform:uppercase;
    text-decoration: none;
}

.aclasstopmenu {
    font-size: 1.3em;
}


/* - - - - FONT USAGE - - - - */
p, a {
    font-family: 'Raleway';
    font-size: 1em;

    text-decoration: none;
}

/* Smaller citations or referal to resources.*/
/*
.classcitation {
}
*/



/* - - - - STYLING SEPERATE ELEMENTS - - - - */
header {
    margin: 1rem;
    padding:0;

    border: 2px solid var(--wb);
    outline-style: dotted;
    outline-offset: -1px;
    outline-color: var(--wb);

    background-color: var(--medium-dark);
}

h1 {
    font-family: 'Cambo';
}

.h1headline {
    color: var(--wb);
    text-align: center;

    text-shadow: 2px 2px 4px grey;    
}

.divclassclub, .divclassinfo {
    letter-spacing: 1px;

    background-color: var(--wb);
    text-align: center;
}

.ulclassfoot {
    display: grid;
    Position: fixed;
    bottom: 0;

    min-width: 100%;

    padding: 0;
    margin: 0;


    list-style-type: none;


    /*
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    padding: 0;
    margin: 0;

    background-color: var(--medium-dark);

    list-style-type: none;
    */
}


.aclassfoot {

    background-color: var(--medium-dark);

    color: white;
    letter-spacing: 1px;

    font-family: verdana;


    text-shadow: 2px 2px 2px grey;
    text-transform:uppercase;
    text-decoration: none;



}

#githubicon {
    color: white;
    border-color: #62959C;
}